@using Shafam.Common.DataModel
@using Shafam.UserInterface.Models
@model Shafam.UserInterface.Models.DoctorScheduleViewModel

@{
    ViewBag.Title = "Doctor Schedule";
}

@Html.Partial("_DoctorProfileHeader", @Model.Doctor)

<div class="row">
    <div class="col-md-10">
        <h3>Schedule</h3>
    </div>
    <div class="col-md-2">
        <br />

        <p class="pull-right">@Html.ActionLink("Add Appointment", "NewAppointment", new { doctorId = @Model.Doctor.DoctorId })</p>

    </div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Patient Name</th>
            <th>Date & Time</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SingleAppointmentDoctorViewModel singleAppointment in Model.SingleAppointmentDoctorViewModels)
        {
            <tr onclick="window.location.href='@Url.Action("AppointmentDetails", new {appointmentId = singleAppointment.SAppointment.AppointmentId})'">
                <td>@singleAppointment.SPatient.PatientId</td>
                <td>@singleAppointment.SPatient.FirstName @singleAppointment.SPatient.LastName</td>
                <td>@singleAppointment.SAppointment.DateTime</td>
                <td>@singleAppointment.SAppointment.Reason</td>
            </tr>
        }
    </tbody>
</table>