@using Shafam.Common.DataModel

@{
    ViewBag.Title = "Patients";
}

<h2>Patients</h2>

<table class="table">
    <tr>
        <th>Patient ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
    </tr>
    @foreach (Patient patient in Model)
    {
        <tr>
            <td>@Html.ActionLink(@patient.UserId.ToString(), "PatientProfile", new { patientid = @patient.UserId }) </td>
            <td>@patient.FirstName</td>
            <td>@patient.LastName</td>
            <td>@patient.Age</td>
        </tr>
    }
</table>