@{
    ViewBag.Title = "Patient Details";
}

@model Shafam.Common.DataModel.Patient

@Html.Partial("_Header", @Model)

<p>@Html.ActionLink("Assign Doctor", "AssignDoctor", new { patientId = @Model.PatientId }) </p>
<p>@Html.ActionLink("Refer", "ReferPatient", new { patientId = @Model.PatientId }) </p>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Patient ID</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.PatientId</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.FirstName</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.LastName</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Age</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Age</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Phone Number</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.PhoneNumber</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Address</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Health Card Number</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.HealthCardNumber</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Gender</p>
        </div>
    </div>
</form>
