@using Shafam.Common.DataModel
@using Shafam.UserInterface.Models
@{
    ViewBag.Title = "Treatments";
}

@model TreatmentViewModel

@Html.Partial("_Header", @Model.Patient)

<table class="table table-hover">
    <thead>
        <tr>
            <th>Date &amp; Time</th>
            <th>Reason</th>
            <th>Treatment Prescribed</th>
            <th>Treatment Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SingleTreatmentModel treatment in Model.Treatments)
        {
            <tr onclick="window.location.href='@Url.Action("VisitationDetails", new { patientid = @Model.Patient.PatientId, visitationId = treatment.VisitationId })'">
                <td>@treatment.DateTime</td>
                <td>@treatment.Reason</td>
                <td>@treatment.Treatment.TreatmentType</td>
                @if (treatment.Treatment.TreatmentCompleted == false)
                {
                    <td>Not Completed</td>}
                else
                {
                    <td>Completed</td>}
            </tr>
        }
    </tbody>
</table>