@using Shafam.Common.DataModel
@using Shafam.UserInterface.Models
@model Shafam.UserInterface.Models.DoctorScheduleViewModel

@{
    ViewBag.Title = "Doctor Schedule";
}


<h2> Schedule</h2>


<table class="table">
    <tr>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Date & Time</th>
        <th>Reason</th>
    </tr>
    @foreach (SingleAppointmentDoctorViewModel singleAppointment in @Model.SingleAppointmentDoctorViewModels)
    {
        <tr>
            <td>@singleAppointment.SPatient.PatientId</td>
            <td>@singleAppointment.SPatient.FirstName @singleAppointment.SPatient.LastName</td>
            <td>@singleAppointment.SAppointment.DateTime</td>
            <td>@singleAppointment.SAppointment.Reason</td>
        </tr>
    }
</table>