@using Shafam.Common.DataModel
@using Shafam.UserInterface.Models
@model Shafam.UserInterface.Models.PatientScheduleViewModel

@{
    ViewBag.Title = "Appointments";
}

@Html.Partial("_Header")

<div class="row">
    <div class="col-md-10">
        <h3>Schedule</h3>
    </div>
    <div class="col-md-2">
        <br />

        <p class="pull-right">@Html.ActionLink("Request Appointment", "RequestAppointment", new { patientId = @Model.Patient.PatientId })</p>

    </div>
</div>

<table class="table">
    <tr>
        <th>Date & Time</th>
        <th>Doctor Name</th>
        <th>Reason</th>
    </tr>
    @foreach (SingleAppointmentViewModel singleAppointment in Model.SingleAppointmentViewModels)
    {
        <tr>
            <td>@singleAppointment.SAppointment.DateTime</td>
            <td>Dr. @singleAppointment.SDoctor.FirstName @singleAppointment.SDoctor.LastName</td>
            <td>@singleAppointment.SAppointment.Reason</td>
        </tr>
    }
</table>