@model IEnumerable<Shafam.UserInterface.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
}

<p>
    <div>
        @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-default"})
    </div>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialtyDepartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialtyDepartment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.UserViewModelId, role=item.UserRole }) |
        </td>
    </tr>
}

</table>