@model IEnumerable<Shafam.UserInterface.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
}

<p>
    <div>
        @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-default"})
    </div>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialtyDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location.href='@Url.Action("Details", new { id = item.UserViewModelId, role = item.UserRole })'">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialtyDepartment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    
}