@using Shafam.Common.DataModel
@model Shafam.UserInterface.Models.DoctorAssignmentViewModel

@{
    ViewBag.Title = "Assign Doctor";
}

@*@Html.Partial("_Header", @Model.Patient)*@

<div class="row">
    <div class="col-md-10">
        <h3>Patient @Model.Patient.PatientId - @Model.Patient.LastName, @Model.Patient.FirstName</h3>
    </div>
    <div class="col-md-2">
        <br />
        <p class="pull-right">@Html.ActionLink("< Back to patient", "PatientProfile", new { patientId = Model.Patient.PatientId })</p>
    </div>
</div>

<hr />

@using (Html.BeginForm("AssignDoctor", "Legal", new {patientId = Model.Patient.PatientId}, FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.AssignedDoctorId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AssignedDoctorId, Model.DoctorList, null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Assign" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<hr />
<h4>Assigned Doctors</h4>

<table class="table">
    <tr>
        <th>Doctor ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Specialty</th>
        <th>Gender</th>
    </tr>
    @foreach (Doctor doctor in Model.AssignedDoctors)
    {
        <tr>
            <td>@doctor.DoctorId.ToString()</td>
            <td>@doctor.FirstName</td>
            <td>@doctor.LastName</td>
            <td>@doctor.Specialty</td>
            <td>@doctor.Gender</td>
        </tr>
    }
</table>

