@using Shafam.Common.DataModel

@{
    ViewBag.Title = "Doctors";
}

<h2>Doctors</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Doctor ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Specialty</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Doctor doctor in Model)
        {
            <tr onclick="window.location.href='@Url.Action("DoctorPatients", new { doctorId = @doctor.DoctorId })'">
                <td>@doctor.DoctorId.ToString() </td>
                <td>@doctor.FirstName</td>
                <td>@doctor.LastName</td>
                <td>@doctor.Specialty</td>
                <td>@doctor.Gender</td>
            </tr>
        }
    </tbody>
</table>
