@using Shafam.Common.DataModel
@model Shafam.UserInterface.Models.VisitationViewModel

@{
    ViewBag.Title = "Doctor Visitations";
}

@Html.Partial("_DoctorProfileVisitationHeader", @Model.Doctor)

<table class="table table-hover">
    <thead>
        <tr>
            <th>Visitation ID</th>
            <th>Patient ID</th>
            <th>Date &amp; Time</th>
            <th>Medications</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Visitation visitation in Model.Visitations)
        {
            <tr>
                <td>@visitation.VisitationId</td>
                <td>@visitation.PatientId</td>
                <td>@visitation.DateTime</td>
                <td>@visitation.Medications</td>
            </tr>
        }
    </tbody>
</table>