@using Shafam.Common.DataModel
@using Shafam.UserInterface.Models
@{
    ViewBag.Title = "Tests";
}

@model TestViewModel

@Html.Partial("_Header", @Model.Patient)

<table class="table table-hover">
    <thead>
        <tr>
            <th>Date &amp; Time</th>
            <th>Reason</th>
            <th>Test Prescribed</th>
            <th>Test Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SingleTestModel test in Model.Tests)
        {
            <tr onclick="window.location.href='@Url.Action("VisitationDetails", new { patientid = @Model.Patient.PatientId, visitationId = test.VisitationId })'">
                <td>@test.DateTime</td>
                <td>@test.Reason</td>
                <td>@test.Test.Type</td>
                @if (test.Test.Result != null)
                {
                    <td>@test.Test.Result</td>
                }
                else
                {
                    <td>@Html.ActionLink("Add Test Result", "AddTestResult", new { patientid = @Model.Patient.PatientId, testId = test.Test.TestId })</td>
                }
            </tr>
        }
    </tbody>
</table>
