@using Shafam.Common.DataModel
@{
    ViewBag.Title = "Visitations";
}

@model Shafam.UserInterface.Models.VisitationViewModel

@Html.Partial("_Header", @Model.Patient)

<table class="table table-hover">
    <thead>
        <tr>
            <th>Visitation ID</th>
            <th>Doctor Name</th>
            <th>Date &amp; Time</th>
            <th>Medications</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Visitation visitation in Model.Visitations)
        {
            <tr>
                <td>@visitation.VisitationId</td>
                <td>@Model.Doctors[visitation.VisitationId]</td>
                <td>@visitation.DateTime</td>
                <td>@visitation.Medications</td>
            </tr>
        }
    </tbody>
</table>

