@{
    ViewBag.Title = "DoctorBill";
}

@model Shafam.UserInterface.Models.DoctorBillViewModel

<div class="row">
    <div class="col-md-10">
        
    </div>
    <div class="col-md-2">
        <br />
        <p class="pull-right">@Html.ActionLink("< Back to Doctors List", "Doctors")</p>
    </div>
</div>


<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Number of Visitations</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.NumberOfVisitations</p>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Treatment Type</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TreatmentDict)
        {
            <tr> 
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>



<table class="table">
    <thead>
        <tr>
            <th>Test Type</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestDict)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>



<table class="table">
    <thead>
        <tr>
            <th>Medication Type</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MedicationDict)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>