@using Shafam.Common.DataModel

@{
    ViewBag.Title = "Patients";
}

<h2>Patients</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Patient patient in Model)
        {
            <tr onclick="window.location.href='@Url.Action("PatientBill", new {patientid = @patient.PatientId})'">
                <td>@patient.PatientId.ToString()</td>
                <td>@patient.FirstName</td>
                <td>@patient.LastName</td>
            </tr>
        }
    </tbody>
</table>