@{
    ViewBag.Title = "TimeBillDetails";
}

@model Shafam.UserInterface.Models.TimeBillViewModel

<div class="row">
    <div class="col-md-10">
        
    </div>
    <div class="col-md-2">
        <br />
        <p class="pull-right">@Html.ActionLink("< Back to Time Bill", "TimeBill")</p>
    </div>
</div>


<table class="table">
    <thead>
        <tr class="row">
            <th class="col-md-3"></th>
            <th class="col-md-3">Rate</th>
            <th class="col-md-3">Visitations</th>
            <th class="col-md-3">Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row">
            <td class="col-md-3">Value</td>
            <td class="col-md-3">$100.00</td>
            <td class="col-md-3">@Model.NumberOfVisitations</td>
            <td class="col-md-3">$@Model.VisitationCost</td>
        </tr>
    </tbody>
</table>


<table class="table">
    <thead>
        <tr class="row">
            <th class="col-md-3">Treatment Type</th>
            <th class="col-md-3">Rate</th>
            <th class="col-md-3">Count</th>
            <th class="col-md-3">Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TreatmentDict)
        {
            <tr class="row">
                <td class="col-md-3">@item.Key</td>
                <td class="col-md-3">$@item.Value.Item1</td>
                <td class="col-md-3">@item.Value.Item2</td>
                <td class="col-md-3">$@item.Value.Item3</td>
            </tr>
        }
    </tbody>
</table>



<table class="table">
    <thead>
        <tr class="row">
            <th class="col-md-3">Test Type</th>
            <th class="col-md-3">Rate</th>
            <th class="col-md-3">Count</th>
            <th class="col-md-3">Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestDict)
        {
            <tr class="row">
                <td class="col-md-3">@item.Key</td>
                <td class="col-md-3">$@item.Value.Item1</td>
                <td class="col-md-3">@item.Value.Item2</td>
                <td class="col-md-3">$@item.Value.Item3</td>
            </tr>
        }
    </tbody>
</table>



<table class="table">
    <thead>
        <tr class="row">
            <th class="col-md-3">Medication Type</th>
            <th class="col-md-3">Rate</th>
            <th class="col-md-3">Count</th>
            <th class="col-md-3">Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MedicationDict)
        {
            <tr class="row">
                <td class="col-md-3">@item.Key</td>
                <td class="col-md-3">$@item.Value.Item1</td>
                <td class="col-md-3">@item.Value.Item2</td>
                <td class="col-md-3">$@item.Value.Item3</td>
            </tr>
        }
    </tbody>
</table>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">BILL AMOUNT</label>
        <div class="col-sm-10">
            <p class="form-control-static">$@Model.BillAmount</p>
        </div>
    </div>
</form>