@using Shafam.Common.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Shafam", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{string action = ViewContext.RouteData.Values["action"].ToString();}
                    @{string controller = ViewContext.RouteData.Values["controller"].ToString();}
                    
                    @if (User.IsAnonymous())
                    { 
                        <li @if (action == "Index" && controller == "Home") { <text> class="active" </text> }>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li @if (action == "About") { <text> class="active" </text>  }>@Html.ActionLink("About", "About", "Home")</li>
                        <li @if (action == "Contact") { <text> class="active" </text>  }>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    
                    @if (User.IsDoctor())
                    {
                        <li @if (action == "Home") { <text> class="active" </text>  }>@Html.ActionLink("Home", "Home", "Doctor")</li>
                        <li @if (action != "Home") { <text> class="active" </text>  }>@Html.ActionLink("Patients", "Patients", "Doctor")</li>
                    }
                    
                    @if (User.IsFinance())
                    {
                        <li @if (action == "Bills") { <text> class="active" </text>   }>@Html.ActionLink("Bills", "Bills", "Finance")</li>
                        <li @if (action == "Reports") { <text> class="active" </text>   }>@Html.ActionLink("Reports", "Reports", "Finance")</li>
                    }
                    
                    @if (User.IsIT())
                    {
                        <li class="active">@Html.ActionLink("Accounts", "Users", "IT")</li>
                    }
                    
                    @if (User.IsLegal())
                    {
                        <li @if (action == "Complaints") { <text> class="active" </text>     }>@Html.ActionLink("Complaints", "Complaints", "Legal")</li>
                        <li @if (action == "Reports") { <text> class="active" </text>     }>@Html.ActionLink("Reports", "Reports", "Legal")</li>
                    }
                    
                    @if (User.IsPatient())
                    {
                        <li class="active">@Html.ActionLink("Home", "Index", "Patient")</li>
                    }
                    
                    @if (User.IsStaff())
                    {
                        <li class="active">@Html.ActionLink("Patients", "Patients", "Staff")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Shafam Hospital Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
